
<body>
<h2> Jobs Table</h2>
<br />
<table class="table table-striped xtable-hover" style="margin-top: 50px;">
    <thead class="thead-dark">
    <tr>
        <th>Order ID</th>
        <th>Seller ID</th>
        <th>Address</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>

    <% MyDelivery.forEach(function(part){ %>

        <tr>
            <td><%= part.order_id %></td>
            <td><%= part.seller_id %></td>
            <td><%= part.user_address %></td>
            <td><form action="/edit/?jobName127=<%= part.jobName127 %>/?partId127=<%= part.partId127 %>/?qty127=<%= part.qty127 %>" method="post">
                    <button class="btn btn-primary">Edit
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                </form>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>
</body>
<br />
